[submodule "external/simple-uri-parser"]
	path = external/simple-uri-parser
	url = https://github.com/jholloc/simple-uri-parser.git
[submodule "external/nlohmann-json"]
	path = external/nlohmann-json
	url = https://github.com/nlohmann/json.git
